* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: #00b36b;
}

/* NAVBAR START */
.myNavbar {
  /* border: 2px solid black; */
  color: white;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  height: 3em;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 100;
}

#logo {
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 1.5em;
  cursor: pointer;
}

#all_menu {
  color: white !important;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0%;
  margin-right: 1.6em;
}

.links {
  text-decoration: none;
}

.menu_content {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 1.1em;
  color: white;
}

.menu_content:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* NAVBAR END */

/* SLIDE SHOW START */

.img-slider {
  position: relative;
  width: 100%;
  height: 49em;
}

.slide {
  position: absolute;
  z-index: 1;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slide_image {
  width: 100%;
  height: 48em;
}

.img-slider .slide .myInfo {
  position: absolute;
  top: 50%;
  left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 15px 30px; */
}

.img-slider .slide .myInfo h1 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.img-slider .slide .myInfo p {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
}

.shaded_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 10px;
}

.img-slider .slide .myInfo button {
  /* color: yellow; */
  border: 2px solid green;
  background-color: rgba(44, 137, 1, 0.9);
  margin-top: 1em;
  padding: 0.5em;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.img-slider .myNavigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .myNavigation .myBtn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .myNavigation .myBtn.active {
  background: rgba(44, 137, 1, 0.9);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.img-slider .slide .myInfo button a {
  color: yellow;
  font-size: 15px;
}

.makeContribution:hover {
  color: black;
  text-decoration: none;
}
/* SLIDE SHOW END */

/* WELCOME SCREEN START */
.welcome {
  margin-top: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(to bottom, #00b36b, 45%, #99cc00);
  /* background-color: rgb(112, 255, 222); */
}

#welcome_image {
  margin-left: 7em;
  border-radius: 10px;
}

#welcome_info {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 15px;
  color: rgba(255, 255, 0);
  width: 30%;
  margin-left: 12em;
}

#welcome_info h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 5px;
}

#welcome_info p {
  font-size: 20px;
  margin-top: 5px;
}
/* WELCOME SCREEN END */

/* 3rd block */
.ourWork {
  /* border: 1px solid red; */
  padding: 20px 0px;
  background: linear-gradient(to bottom, #99cc00, 55%, #12283b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.ourWork h2 {
  font-family: "Righteous", cursive;
  font-size: 3.2em;
}

.gaushalaRanking {
  /* background: lightseagreen; */
  width: 80%;
  border: 1px solid black;
  margin: 1.5em 0px;
}

.table {
  background-color: rgba(255, 255, 255, 0.2);
}

.table td,
.table th {
  border-top: 1px solid darkgreen;
  text-align: center;
  font-size: 1.2em;
}

.table td a {
  color: black;
  text-decoration: none;
}

.table thead th {
  border-bottom: 2px solid darkgreen;
  font-family: cursive;
  color: black;
}

.community {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinCommunity {
  width: 50%;
  height: 15em;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinCommunity button {
  width: 30%;
  height: 2.2em;
  border: 1px solid black;
  border-radius: 5em;
  cursor: pointer;
  background: darkgreen;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Baloo Bhaina 2", cursive;
  text-align: center;
}

.communityButton {
  color: black;
  text-decoration: none;
}

.joinCommunity button:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.joinCommunity p {
  font-size: 2em;
  text-align: center;

  font-family: "Righteous", cursive;
}

.joinCommunityImage img {
  height: 22em;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 5px 2px;
}

/* image slider login */
.login {
  /* border: 2px solid black; */
  background: #808000;
  height: 48em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 4em; */
}

.question {
  font-family: "Fredoka One", cursive;
  margin-bottom: 10px;
  font-size: 4em;
}

#heading2 {
  font-size: 2em;
}

.choice {
  display: flex;
  border-radius: 20%;
  background-color: rgba(173, 173, 173, 0.7);
  /* border: 2px solid red; */
  /* background: yellow; */
  margin-top: 3em;
}

.choiceImage {
  height: 24em;
}

#option1 {
  border-right: 2px solid black;
  border-radius: 0%;
}

.choiceOption {
  border-radius: 10%;
  /* border: 0.5px solid; */
  /* background-color: grey !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  font-family: "Yellowtail", cursive;
}

/* a {
  color: black;
  text-decoration: none;
} */

p {
  font-size: 2em;
}
/* 
.choiceOption:hover {
  transition: all 0.5s;
  transform: scale(1.05);
} */

.design {
  height: 32em;
}
.design:hover {
  text-decoration: none;
}
